
body {
  margin: 0;
}

@media not print {
  .fullZoomOut {
    cursor: zoom-out;
  }

  .fullZoomIn {
    cursor: zoom-in;
  }

  .shrinkToFit {
    cursor: zoom-in;
  }

  .overflowingVertical, .overflowingHorizontalOnly {
    cursor: zoom-out;
  }
}

.isInObjectOrEmbed {
  width: 100%;
  height: 100vh;
}

img {
  display: block;
}

  @media not print {
    :root {
    color: #eee;
    background: url("chrome://global/skin/media/imagedoc-darknoise.png") fixed;
    }
  
    img.transparent {
      color: #222;
      background: hsl(0,0%,90%) url("chrome://global/skin/media/imagedoc-lightnoise.png");
    }
  
    img {
      text-align: center;
      position: absolute;
      inset: 0;
      margin: auto;
    }
  
    img.overflowingVertical {
    margin-top: 0;
    }
  
    .completeRotation {
      transition: transform 0.3s ease 0s;
    }
  }
  
  img {
    image-orientation: from-image;
  }
  















  
  
  


