*{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(86, 86, 247);
}

#main{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    background-color: rgb(19, 18, 18);
    width: 500px;
    height: 110px;
    margin-left: 450px;
    border-radius: 8px;
}
input{
    height: 55px;
    width: 250px;
    background-color: white;
    margin-right: 30px;
    border-radius: 7px;
    border: none;
    font-size: 14px;
    font-weight: 600;
}
button{
    height: 55px;
    width: 140px;
    margin-right: 10px;
    background-color: white;
    border-radius: 7px;
    font-size: 14px;
    font-weight: 600;
}
.con{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
}



.content{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
    height: 100px;
    width: 98px;
    background-color: rgb(24, 23, 23);
    border-radius: 5px;
}
#age{
    margin-left: 560px;
    background-color: rgb(23, 24, 24);
    color: white;
    font-size: 24px;
}